<style> 
    /* Full Section */
    #ecomm-main-product {
        border: 2px solid red;
    }

    
    
    /* HTML Elements */
    

    .pdp-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
    }

    .product-img-sec {
        border: 2px solid red;
        
    }

    


    /* .main-img img {
        height: 100%;
        max-width: 100%;
    } */

    /* DIV - THUMBNAIL */
    .thumbnail-img {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    .quantity-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        border-radius: 15px;
        margin-right: 40px;
    }

    .quantity-section {
        border: 2px solid black;
    }

    #qty {
        padding: 0 20px;
    }

    /* BUTTON */

    .main-prod-button {
        background-color:
        /* padding: 0 50px; */
    }

    .button-section {
        display: flex;
        flex-direction: column;
    }


    #sale-price {
        margin-right: 10px;
    }

    #discount-pct {
        background-color: orange;
        color: red;
        padding: 15px;
        border-radius: 15px;
        opacity: 75%;    
    }

    .variant-option {
        border-radius: 30px;
        background-color: #fff;
    }

    /* MAIN PRODUCT SECTION */

    .main-product-section {
        border: 3px solid green;
        margin: 0 50px;
        padding: 0 20px;
    }

    .added-to-cart {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    }


    /* Final section */

    .final-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* SLIDER */

    .slider {
        max-width: 100rem;
        height: 50rem;
        margin: 0 auto;
        position: relative;

        /* In the end */
        overflow: hidden;
    }

    .slide > img {
  /* Only for images that have different size than slide */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;

        /* The animation element */
        transition: transform 1s;
    }

    .slider-arr {
        
        background-color: antiquewhite;
        border-radius: 35px;
        padding:0 10px;
        
        
    }

    .larr, .rarr {
        position: absolute;
        top: 50%;
        
        
    }

    .larr {
        
        
    }

    .rarr {
        right: 10px;
        
    }




</style>


<section id="ecomm-main-product">
        <div class="pdp-card page-width">
            <div class="product-img-sec">               
                <div class="slider">
                    <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-1.jpg?v=1701844527" alt=""></div>
                    <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-4.jpg?v=1701844527" alt=""></div>
                    <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-3.jpg?v=1701844527" alt=""></div>
                    <button class="slider-arr larr" href="">&larr;</button>
                    <button class="slider-arr rarr" href="">&rarr;</button>                
                </div>            
                <div class="product-thumbnails">
                    <img class="thumbnail-img" src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-2-thumbnail.jpg?v=1701844527" alt="">
                    <img class="thumbnail-img" src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-3-thumbnail.jpg?v=1701844527" alt="">
                    <img class="thumbnail-img" src="https://cdn.shopify.com/s/files/1/0570/1877/7670/files/image-product-4-thumbnail.jpg?v=1701844527" alt="">
                </div>
            </div>
            <div class="main-product-section">
                <h1> {{ product.title }} </h1>
                <h2 id="actual-price">$250.00</h2> 
                <div class="variant-selector">
                    <h3>Variant</h3>
                    <button class="variant-option">Black</button>
                    <button class="variant-option">Champagne</button>
                </div>
                <div class="quantity-section-two">
                    <h3>Quantity</h3>
                    <div class="quantity-selector">
                        <button class="qty-sub">-</button><input type="text" name="quantity" min="1" value="1"><button class="qty-add">+</button>
                </div>
                </div>
                {% form 'product', product %}            
                    <div class="button-section">                    
                        <button id="atc-button" class="main-prod-button"> <p> Add to Cart</p></button>
                        <button id="buy-it-now-button" class="main-prod-button"> <p> Buy it now! </p></button>
                        <p>Stock Left</p>
                    </div>
                {% endform %}
                <div class="final-section">
                    <p><span></span> Share</p>
                    <a href="">View full details &rarr; </a>
                </div>
                
            </div>
        </div>
    </section>

<script>
    const sliderArrows = document.querySelectorAll('.slider-arr')
    const slides = document.querySelectorAll('.slide')
    const btnLeft = document.querySelector('.larr');
    const btnRight = document.querySelector('.rarr');

    let curSlide = 0;
    const maxSlide = slides.length;
    
    

    const slider = document.querySelector('.slider');

    slider.style.transform = 'scale(0.2)';
    slider.style.overflow = 'scale(0.5)'

    const goToSlide = function(slide) {
        slides.forEach(
            (s, i) => (s.style.transform = `translateX(${100 * (i - slide)}%)`))
    }

    goToSlide(0);

    const nextSlide = function() {
        if (curSlide === 0) {
            curSlide = maxSlide - 1;
        } else {
            curSlide--;
            goToSlide(curSlide);
        }
    }

    const prevSlide = function() {
        if (curSlide === 0) {
            curSlide = maxSlide - 1;
        } else {
            curSlide--;
            goToSlide(curSlide);
        }
    }
    
    //Next slide
    btnRight.addEventListener('click', nextSlide);

    // Previous slide
    btnLeft.addEventListener('click', prevSlide)
    

</script>

